@using EntityLayer.Concrete
@model List<Image>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table>
    <tr>
        <th>#</th>
        <th>Title</th>
    </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>@item.ImageID</td>
           <td>@item.Title</td>
       </tr>
   }
</table>
