@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Hizmet Listesi</h1>
<div class="table-responsive pt-3">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Sil</th>
            <th>Düzenle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServiceID</td>
                <td>@item.Title</td>
                <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Service/EditService/@item.ServiceID" class="btn btn-outline-success">Düzenle</a></td>
            </tr>
        }
    </table>
    </div>
    <a href="/Test/AddService/" class="btn btn-outline-info">Yeni Hizmet Girişi</a>

